.counter {
	position: absolute;
	top: 20vh;
	right: 20vw;
	font-size: 20px;
	color: #888;
	opacity: 0.5;
	font-style: italic;

	strong {
		font-size: 70px;
		color: #fff;
	}
	span {
		margin-left: 5px;
		font-size: 30px;
		color: #888;
	}
}
