.layout {
	overflow: hidden;
	width: 100%;
	height: 100vh;
	padding: 15vh 10vw 5vh;
	background: #222;

	.content {
		overflow-x: hidden;
		overflow-y: auto;
		height: 100%;
		color: #ccc;

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background: orange;
		}

		> main {
			width: 100%;
		}
		> section {
			width: 80vw;
			margin: 0 auto;
		}
	}
}
