.ttl {
	color: #333;
	font-family: var(--font-nanum);

	a {
		font-size: inherit;
		font-family: inherit;
		color: inherit;
	}
	&:hover {
		color: orange;
	}
	&.ttl_logo {
		font-family: var(--font-mont);
		font-weight: 700;
		color: red;
		font-size: 26px;
	}
	&.ttl_slogan {
		color: blue;
		font-size: 10vw;
	}
}
